[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token.git
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math.git
[submodule "lib/ds-auth"]
	path = lib/ds-auth
	url = https://github.com/dapphub/ds-auth.git
[submodule "lib/ds-stop"]
	path = lib/ds-stop
	url = https://github.com/dapphub/ds-stop.git
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note.git
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test.git
[submodule "lib/ds-proxy"]
	path = lib/ds-proxy
	url = https://github.com/dapphub/ds-proxy
[submodule "lib/ds-guard"]
	path = lib/ds-guard
	url = https://github.com/dapphub/ds-guard
[submodule "lib/dpass"]
	path = lib/dpass
	url = https://github.com/Cdiamondcoin/dpass.git
[submodule "lib/cdc-token"]
	path = lib/cdc-token
	url = https://github.com/Cdiamondcoin/cdc-token.git
